.border-red {
  border: 1px solid red;
}

.rounded {
  border-radius: 50%;
}

.box:hover {
  color: red;
  border-color: green;
}

.pulse {
  animation-name: inline-u910vgv;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes inline-u910vgv {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

/*# sourceMappingURL=styles.css.map */
