@mixin box($color, $rounded: true) {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: $color;
  @if ($rounded) {
    border-radius: 4px;
  }
}

.box-test {
  @include box($primary, true);
}

.box-test {
  @include box($primary, false);
}