@mixin box($color, $rounded: true) {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: $color;
  @if ($rounded) {
    border-radius: 4px;
  }
  @if ($color == $primary) {
    color: red;
  }
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      z-index: 100 + $i;
    }
  }
}

.box {
  @include box($primary, true);
}

.box-secondary {
  @include box($secondary, false);
}