@import 'mixins/breakpoints';

$zindex-sticky: 201;

@include media-breakpoint-down(md) {
  .box {
    width: 99px;
  }
}

@include media-breakpoint-only(md) {
  .box {
    width: 120px;
  }
}

@include media-breakpoint-up(md) {
  .box {
    width: 220px;
  }
}

 @each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .sticky#{$infix}-top {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
  }
 }

