@use 'sass:color' as color;

.button {
  background: $primary;
  &:hover {
    background: color.scale($primary, $lightness: -30%);
  }
  &:focus {
    background: color.scale($primary, $lightness: 30%);
  }
}



//@each $name, $value in $theme-colors {
//
//  .button-#{$name} {
//    background: $value;
//    &:hover {
//      background: color.scale($value, $lightness: -30%);
//    }
//    &:focus {
//      background: color.scale($value, $lightness: 30%);
//    }
//  }
//
//}