.margin {
  margin: $spacer-base;

  &Top {
    margin-top: $spacer-base;
  }

  &Right {
    margin-right: $spacer-base;
  }

  &Bottom {
    margin-bottom: $spacer-base;
  }

  &Left {
    margin-left: $spacer-base;
  }
}

$margins: (
        --small: $spacer-small,
        --large: $spacer-large,
        --xlarge: $spacer-xlarge,
        --xsmall: $spacer-xsmall
);

@each $index, $value in $margins {

  .margin#{$index} {
    margin: $value;
  }
  .marginTop#{$index} {
    margin-top: $value;
  }
  .marginRight#{$index} {
    margin-right: $value;
  }
  .marginBottom#{$index} {
    margin-bottom: $value;
  }
  .marginLeft#{$index} {
    margin-left: $value;
  }

}