@mixin easy-mixin() {
  border: 1px solid red;
}

.border-red {
  @include easy-mixin();
}

@mixin my-first-mixin($border-radius) {
  border-radius: $border-radius;
}

.rounded {
  @include my-first-mixin(50%);
}

@mixin border-radius-hover () {
  &:hover {
    color: red;
    @content;
  }
}

.box {
  @include border-radius-hover() {
    border-color: green;
  }
}

// Interpolation: Variable in einen String schreiben, bzw. String und Variable mischen

@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

.pulse {
  @include inline-animation(2s) {
    from { background-color: yellow }
    to { background-color: red }
  }
}