@use "sass:math";

// ++++++ colors ++++++ //

$white: #ffffff;
$black: #00121e;
$gray-base: #d9dddd;
$middle-gray: #d9dddd;
$light-gray: #eeeeee;

$colors: (
  "white":        $white,
  "black":        $black,
  "gray-base":    $gray-base,
  "middle-gray":  $middle-gray,
  "light-gray":   $light-gray,
);


$primary: #bccf00;
$secondary: lighten($primary,30%);
$success: $primary;
$info: $gray-base;
$warning: #e8e100;
$danger: #e6002e;
$action: $black;
$light: $light-gray;
$dark: $action;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "action":     $action,
  "light":      $light,
  "dark":       $dark
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$img-path: '/typo3conf/ext/schlosschule/Resources/Public/Images/';

// ------ colors ------ //

$body-background: $white;
$input-border-color: $middle-gray;
$text-base: $black;
$headings-color: $text-base;

// ++++++ typo ++++++ //
$link: $primary;
$link-hover: darken($primary,10);
$link-decoration: none;
$link-decoration-hover: none;

$font-family: "Barlow", Helvetica, Arial, sans-serif;
$icon-family: "icons", Helvetica, Arial, sans-serif;

$font-size-base: 16px;
$normal: 400;
$bold: 600;

$line-height-base: 1.428571429;
@debug $font-size-base * $line-height-base;
$line-height-computed: math.floor(($font-size-base * $line-height-base));
@debug $line-height-computed; //22

$headings-font-family: $font-family;
$headings-font-weight: $normal;
$headings-line-height: $line-height-base;

$xlarge: 32px;
$large: 24px;
$medium: 15px;
$small: 13px;
$xsmall: 11px;

// ------ typo ------ //

// ++++++ spacer ++++++ //

$spacer-base: 10px;
$spacer-xsmall: 5px;
$spacer-small: 40px;
$spacer-large: 80px;
$spacer-xlarge: 160px;

